.env
.env.backup
.env.example
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.git
/.idea
/.phpunit.cache
/.vscode
/.zed

auth.json
bootstrap/cache/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/node_modules
/public/build
/public/hot
/public/storage
/socket_东哥
/storage/*
/storage/*.key
/storage/logs
/storage/pail
/vendor

/Blade.txt
/composer.json_bak
/composer.lock_bak
/Leo&Zy.txt
/package.json_bak
/README.md
/vite.config.js_bak



# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

/.vagrant